@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Share Tech Mono', monospace;
}

#buttons {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 2em;
}

img {
  width: 50%;
  height: auto;
}

button {
  background-color: white;
}

button:hover {
  border: 2px solid crimson;
}

#scores {
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
