@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Share Tech Mono', monospace;
}

#buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 2em 0 2em 0;
}

img {
  max-width: 100%;
  width: 5rem;
  height: auto;
  padding: 1em;
}

button {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

button:hover {
  border: 1px solid crimson;
}

#scores {
  width: 75%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 1.5em;
  padding: 8px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.reds {
  color: crimson;
}

#credits {
  font-size: 0.8em;
  text-align: center;
  margin-top: 2em;
}

#credits a {
  text-decoration: none;
  color: crimson;
}

#credits a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 970px) {
  #buttons {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: 2rem;
  }

  td,th {
    font-size: 1em;
  }
}

